@import url('https://fonts.googleapis.com/css?family=Alata&display=swap');

:root{
    --html:     #e34c26;
    --js:       #f1e05a;
    --python:   #3572A5;
    --cplusplus:#f34b7d;
    --java:     #b07219;
    --css:      #563d7c;
    --csharp:   #178600;
    --c:        #555555;
}

a { text-decoration: none !important; }

h5, p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: wrap;
    font-family: 'Alata', sans-serif;
    box-sizing: border-box;
    color: rgba(0, 0, 0, .8);
}

ul {
    list-style-position: outside;
    padding-left: 20px;
}

li {
    white-space: wrap;
    font-family: 'Alata', sans-serif;
    box-sizing: border-box;
    margin-bottom: 1.5em;
}


#profileInfo{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}


body{
    background-image: url("./graystripes.png");
    background-color: rgba(0, 0, 0, .001);
    background-attachment: fixed;
    background-repeat: repeat;
    background-size: 400px;
    padding:50px;
}

body > *{ max-width: 1200px;}

@media only screen and (max-width:450px){
    body{padding: 10px;}
}

/* square gray blur */
/*
.container-fluid{
    background-color:rgba(255,255,255,.5);
    background-color:rgba(0, 0, 0, .03);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
}
*/

/* content based gray blur */
/**/
#top > div, #main > div {
    background-color:rgba(0, 0, 0, .03);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
}

#top{
    text-align: center;
}

#top > div{
    padding:10px;
}

#top>div>div{
    background-color: white;
    box-shadow: 0px 2px 2px .5px rgba(0, 0, 0, .2);
    height:100%;
}

#profileWrapper{
    text-align: center;
    width:100%;
    margin:auto;
}

#profileWrapper > div{
    padding: 10px 20px 30px 20px;
}

#profileImageWrapper{
    padding: 0 !important;
}

#headerText{
    text-align: left;
    padding:20px;
}

#name{
    font-size: 35px;
    font-weight: bold;
    word-break: break-word;
    white-space: pre-line !important;
}

#profileImg{
    width:100%;
}

.icons{
    width:35px;
}

#main > * {
    //border:1px solid red;
    padding:10px;
}

.inner{
    padding:15px;
    padding-bottom: 51px;
    height:100%;
    background-color: rgba(0,0,0,0.03);
    box-shadow: 0px 2px 2px .5px rgba(0, 0, 0, .2);
    transition: box-shadow 0.15s;
    background-color: white;
}

.inner:hover{
    box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, .2);
}

/* fix clipping issue */
.inner > h5{
    margin-bottom:0;
    padding-bottom:8px;
}



.lang {
    display: inline-block;
    padding: 7px;
    border-radius: 7px;
    color: white;
    position: absolute;
    bottom:18px;
    left:22px;
}


[type="javascript"] {
    background-color: var(--js);
    color: rgba(0, 0, 0, .8);
}

[type="html"] {
    background-color: var(--html);
}

[type="python"] {
    background-color: var(--python);
}

[type="c++"] {
    background-color: var(--cplusplus);
}

[type="c#"] {
    background-color: var(--csharp);
}

[type="java"] {
    background-color: var(--java);
}

[type="css"] {
    background-color: var(--css);
}

[type="C"] {
    background-color: var(--c);
}
