@import url('https://fonts.googleapis.com/css?family=Alata&display=swap');

:root{
    --html:     #e34c26;
    --js:       #f1e05a;
    --python:   #3572A5;
    --cplusplus:#f34b7d;
    --java:     #b07219;
    --css:      #563d7c;
    --csharp:   #178600;
}

body{
    padding:0px 50px 50px 50px;
}

@media (min-width: 1199.98px) {
    body > *{
        max-width: 1300px;
    }
}

h5, p{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: wrap;
    font-family: 'Alata',sans-serif;
    box-sizing:border-box;
}


#top{
    text-align: center;
    margin: 100px 0;
}
#top > div{
    margin:auto;
    width: calc(100vw / 2);
    max-width:400px;
    text-align: left;
}
#top > div > *{
    white-space: nowrap;
}
#name{font-weight: bold;}
#profileImg{
    width:100%;
    margin-bottom:10px;
}


#main > * {
    //border:1px solid red;
    padding:10px;
}

a{
    text-decoration: none !important;
}

p, h5{
    color:rgba(0, 0, 0, .8);
}

.inner{
    padding:15px;
    padding-bottom: 51px;
    height:100%;
    background-color: rgba(0,0,0,0.03);
    box-shadow: 0px 2px 2px .5px rgba(0, 0, 0, .2);
    transition: box-shadow 0.15s;
}

.inner:hover{
    box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, .2);
}

.inner > h5{
    font-weight: bold;
}



.lang {
    display: inline-block;
    padding: 7px;
    border-radius: 7px;
    color: white;
    position: absolute;
    bottom:18px;
    left:22px;
}


[type="javascript"] {
    background-color: var(--js);
    color: rgba(0, 0, 0, .8);
}

[type="html"] {
    background-color: var(--html);
}

[type="python"] {
    background-color: var(--python);
}

[type="c++"] {
    background-color: var(--cplusplus);
}

[type="c#"] {
    background-color: var(--csharp);
}

[type="java"] {
    background-color: var(--java);
}

[type="css"] {
    background-color: var(--css);
}
